@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

h1 {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}